@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;500&family=Source+Sans+Pro:wght@300;400;600&display=swap');

// fit image
.object-image {
  position: relative;
  overflow: hidden;
  background: $gray-100;
  img {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &.contain img {
    object-fit: contain;
  }
  &.fill img {
    object-fit: fill;
  }
}

.center-cirlce {
  display: inline-block;

  .item:nth-child(2) {
    background: #837793;
  }

  .item:nth-child(3) {
    background: #df8c26;
  }

  .item:nth-child(4) {
    background: #65a06b;
  }

  .item {
    background: #e5625c;
    border-radius: 100px;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 7px;
    &.small {
      width: 10px;
      height: 10px;
    }
  }
}

// line clamp

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-7 {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// icon
.icon-wrap-circle {
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  img {
    margin: 5px;
    &.trash-icon {
      margin-left: 7px;
    }
  }
}

// tag
.tag {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: .9rem;
  background: #e5625c;
  border-radius: 110px;
  color: #fff;
  padding: 0px 15px;
  &:hover {
    color: #fff;
  }
}

// behavior
.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.hidden-input {
  opacity: 0;
}

// color
.bg-yelow {
  background-color: var(--clr-orange-primary);
  border: 1px solid var(--clr-orange-primary);
  :hover {
    background-color: var(--clr-white);
    color: var(--clr-orange-primary);
  }
}

.bg-gray {
  background-color: #F1F1F1;
}

// icon
.icon-bookmark {
  width: 25px;
  height: 25px;
}

// font
.uppercase {
  text-transform: uppercase;
}

.w-full {
  width: 100%;
}

// input
.input-error {
  border-color: red !important;
}

// display
.flex-view {
  display: flex;
}