@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin lg-desktop { @media (min-width: #{$desktop-width}) {
  @content;
}}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// flex
@mixin flex($justify, $align, $direction, $flex, $wrap) {
  display: flex;
  @if type-of($justify) == string and $justify {
    justify-content: $justify;
  }
  @if type-of($align) == string and $align {
    align-items: $align;
  }
  @if type-of($direction) == string and $direction {
    flex-direction: $direction;
  }
  @if type-of($wrap) == string and $wrap {
    flex-wrap: $wrap;
  }
  @if $flex {
    flex: $flex;
  }
}